$color-link: blueviolet;
$background: #000;
$brandBackground: #1d9bf020;
$brandColor: #d9d9d9;
$itemBackground: #d9d9d920;
$colorPrimary: #d9d9d9;
$colorSecondary: #6e767d;
$colorWhite: #fff;
$tweetBtnBg: #1d9bf0;