/*========================*/
/*      global style      */
/*========================*/
:root {
  --background: #000;
  --brandBackground: #1d9bf020;
  --brandColor: #d9d9d9;
  --itemBackground: #d9d9d920;
  --colorPrimary: #d9d9d9;
  --colorSecondary: #6e767d;
  --colorWhite: #fff;
  --tweetBtnBg: #1d9bf0;
}

html {
  font-family: "Sarabun", sans-serif;
  background-color: var(--background);
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: 0.2s ease;
  user-select: none;
}

a {
  color: var(--colorPrimary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
span {
  color: #ccc;
}

h3 {
  color: #ccc;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  width: 2px;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/*========================*/
/*      utils style      */
/*========================*/
/* Formulario login/registro */
.input-card {
  display: grid;
  gap: 1rem;
}

.input-form {
  background-color: transparent;
  padding: 0.9rem;
  border: 0.1rem solid rgb(151, 151, 151);
  border-radius: 0.3rem;
  color: #fff;
  width: 100%;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  width: 100%;
}

.input-form:focus {
  border: 0.1rem solid #997af0;
  outline: none;
}

.button-form {
  background-color: rgb(151, 151, 151);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  border-radius: 0.3rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-top: 10%;
}

.button-form:hover {
  background-color: rgb(119, 119, 119);
}

.close-button {
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: transparent;
  color: #fff;
  padding: 1rem 1rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

/*fin utils*/

/*========================*/
/*      layoud style      */
/*========================*/

.layoud-container {
  display: flex;
}

/*========================*/
/*       modal style      */
/*========================*/
.modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  margin: 10px;
}
/*fin Modal*/

/*========================*/
/*      navbar style      */
/*========================*/

div.container-navbar {
  height: 100vh;
  background: transparent;

  width: 383px;
  padding: 0 0 0 85px;
  flex-grow: 2;
}

nav.sidebar {
  height: 100%;
  width: 300px;
  background: transparent;
  border-right: 1px solid #fff2;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 100;
  gap: 15px;
}

.navbar-brand {
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px 8px 4px 10px;
  border-radius: 50%;
}

.navbar-brand:hover {
  background: var(--brandBackground);
}

.navbar-brand a {
  text-decoration: none;
  color: var(--brandColor);
}

.navbar-brand a .logo-app {
  font-size: 30px;
}

.nav-item {
  padding: 8px 25px 8px 10px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.nav-item:hover {
  background: var(--itemBackground);
}

.nav-item .item-icon {
  margin-right: 15px;
}

.nav-item .item-icon .icon {
  font-size: 26px;
  --ionicon-stroke-width: 30px;
}

a.tweet-btn {
  display: block;
  width: 230px;
  background: var(--tweetBtnBg);
  color: var(--colorWhite);
  text-align: center;
  padding: 15px;
  margin-top: 5px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
}

a.tweet-btn:hover {
  --tweetBtnBg: #1d9bf0ee;
}

a.tweet-btn .pencil-icon {
  font-size: 20px;
  color: #fff;
  display: none;
}

a.profile-btn {
  width: 250px;
  height: 60px;
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 50px;
  font-size: 14px;
}

.profile-btn:hover {
  background: var(--itemBackground);
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.profile-img {
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info .name {
  font-weight: bold;
  line-height: 1.5;
}

.profile-info .username {
  color: var(--colorSecondary);
}

.option-icon .icon {
  font-size: 16px;
  margin-top: 2px;
}

/* Responsive ----------------------------------------------------------- */

@media screen and (max-width: 1600px) {
  div.container-navbar {
    height: 100vh;
    background: transparent;
    padding: 0 3em;
    position: fixed;
    /*   width: 420px; */
  }
}

@media screen and (max-width: 1200px) {
  div.container-navbar {
    height: 100vh;
    background: transparent;
    padding: 0 7.8em;
    position: fixed;
    /*   width: 420px; */
  }

  nav.sidebar {
    width: 75px;
  }
  .nav-item {
    padding: 9px 11px;
  }
  .nav-item .item-icon {
    margin-right: 0;
  }
  .nav-item .item-link {
    display: none;
  }
  .nav-item.hash {
    width: 48px;
    height: 48px;
  }
  a.tweet-btn {
    line-height: 0;
    font-size: 20px;
    width: auto;
    padding: 12px 14px;
  }
  a.tweet-btn .pencil-icon {
    display: inline-block;
  }
  a.tweet-btn .text {
    display: none;
  }
  .profile-info > div {
    display: none;
  }
  a.profile-btn .option-icon {
    display: none;
  }
  img.profile-img {
    margin-right: 0;
  }
  a.profile-btn {
    width: 55px;
  }
}

/*Fin Navbar*/

/*========================*/
/*   HeaderPage style     */
/*========================*/
.header-location {
  
  background-color: rgba(0, 0, 0, 0.7);
  height: 80px;
  

  align-items: flex-start;
  padding: 10px 0px 0px 20px;
  
  
  }
  
  .locaction {
  margin-top: 20px;
  margin-left: 50px;
  }
  
  /*media query*/
  
  
  @media screen and (max-width: 1600px) {
    .header-location {
      position:fixed;
      margin-left: 308px;
      background: rgba(0, 0, 0, 0.7);
      height: 80px;
      width: 691px;
      align-items: flex-start;
      padding: 10px 0px 0px 20px;
      background-color: blueviolet;
      }
  }
  
  
  @media screen and (max-width: 1200px) {
    .header-location {
      position:fixed;
      margin-left: 200px;
      background: rgba(0, 0, 0, 0.7);
      height: 80px;
      width: 750px;
      align-items: flex-start;
      padding: 10px 0px 0px 20px;
      background-color: blueviolet;
      }
      
      .locaction {
      margin-top: 20px;
      margin-left: 50px;
      }
      
  }
  
/*========================*/
/*   HeaderSeach style    */
/*========================*/
.header-seach {
  position: fixed;
  margin-top: 0px;
  margin-left: 1220px;
  background: rgba(250, 2, 2, 0.3);
  height: 80px;
  width: 670px;
}

.locaction {
  margin-top: 20px;
  margin-left: 50px;
}


@media screen and (max-width: 1600px) {
  .header-seach {
    position: fixed;
    margin-left: 1000px;
    background: rgba(250, 2, 2, 0.3);
    height: 80px;
    width: 670px;
  }
}

@media screen and (max-width: 1200px) {
  .header-seach {
    display: none;
  }

}


/*========================*/
/*      Login style      */
/*========================*/

form.login-container {
  height: 100vh;
  width: 100wv;
  display: flex;
  justify-content: center;
  align-items: center;
  --opacidad-negro: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--opacidad-negro)),
      rgba(0, 0, 0, var(--opacidad-negro))
    ),
    url("https://i0.wp.com/pxlbbq.com/wp-content/uploads/2017/07/utawarerumono-mask-of-deception-image-a-la-une.jpg?fit=1600%2C1007&ssl=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 1.5rem 3.5rem 3.5rem 3.5rem;
  background-color: rgba(16, 34, 83, 0.7);
  gap: 2rem;
}

.register-span {
  cursor: pointer;
}
/*fin login*/

/*========================*/
/*    Register style      */
/*========================*/
.register-container {
  display: flex;
  height: 70vh;
  width: 50vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(10, 10, 10);
}

.register-card {
  display: grid;
  height: 80%;
  width: 80%;
  align-items: center;
  justify-content: center;
}

/*fin registro*/
/*========================*/
/*      HomePost style      */
/*========================*/
/*  */
/* Text box que piensas */
.textbox-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position:absolute;
  background: gray;
  width: 650px;
  margin: 90px 0 0 310px ;

}

/* homeimagenes */
/*post*/


.container-card {
  background: violet;
  margin-left: 420px;
  margin-right: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-card {
  background-color: rgb(82, 80, 79);
  width: 100% ;
  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  border-bottom: 5px solid red;
}

.container-image {
 flex-direction: row;
 display: flex;
 align-items: center;
 width: 90vh;
 height: 90vh;

}

.img {
  width: 100%;
  height: auto;
}
