.card-container {
  background-color: tomato;
  width: 90%;
  height: 100%;
}

.card-info {
  margin: 10px;
}

.userinfo-post {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: royalblue;
}

.userinfo-img-post {
  border-radius: 50px;
}

.username-post {
  display: flex;
  padding: 5px;
  flex-direction: column;
  margin-left: 5px;
  align-items:flex-start;
  background-color: yellow;
}

.description-post {
  background-color: cornflowerblue;
  padding: 10px;
  margin: 10px;
}

.container-image-post {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: stretch;
  height: 700px;
  border-radius: 10px;
  overflow:hidden;
}
/*
.background-image-post {
  margin: 0;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  max-height: 600px;
  border-radius: 10px;
}*/

.image-post {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.interaction-post {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 10px;
  gap: 10px;
}

.icon-post {
  font-size: 30px;
}

.icon-outline {
  color: pink;
}
