.card-container {
  background-color: tomato;
  width: 70%;
  height: 100%;
}

.card-info {
  margin: 10px;
}

.userinfo-post {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: royalblue;
}

.userinfo-img-post {
  border-radius: 50px;
}

.username-post {
  display: flex;
  padding: 5px;
  flex-direction: column;
  margin-left: 5px;
  align-items: flex-start;
  background-color: yellow;
}

.description-post {
  background-color: cornflowerblue;
  padding: 10px;
  margin: 10px;
}

.container-image-post-1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: stretch;
  max-height: 700px;
  border-radius: 10px;
  overflow: hidden;
}

.container-image-post-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-items: stretch;
  max-height: 700px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.container-image-post-4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: stretch;
  max-height: 700px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
/*
.background-image-post {
  margin: 0;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  max-height: 600px;
  border-radius: 10px;
}*/

.image-post {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image-post-max {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: brightness(30%);
}

.n-images-container-3{
  position: absolute;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  cursor: pointer;
}

.n-images-container-5{
  position: absolute;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.n-images{
  font-size: 60px;
  align-items: center;
  justify-content: center;
}


.interaction-post {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 10px;
  gap: 10px;
}

.icon-post {
  font-size: 30px;
  cursor: pointer;
  color: pink;
}
