.card-container {
  background-color: transparent;
  width: 70%;
  height: 100%;
  margin: 0 0 10px 0;
}

.card-info {
  display: flex;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.397);
}

.card-info:hover {
  background: transparent;
}

.image-profile {
  padding: 10px 5px 5px 5px;
  background-color: transparent;
}

.userinfo-img-post {
  border-radius: 50px;
}

.card-item-post {
  background-color: transparent;
  padding: 5px;
}

.username-post {
  display: flex;
  margin: 8px 0 0 0;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
}

.description-post {
  background-color: transparent;
  margin: 10px 0 5px 0;
  width: 600px;
  word-break: break-all;
}

.description-post .text {
  color: burlywood;
}

.container-image-post-1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: stretch;
  max-height: 650px;
  overflow: hidden;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
}

.container-image-post-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-items: stretch;
  max-height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 10px 0 10px 0;
}

.container-image-post-4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: stretch;
  max-height: 450px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image-post {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image-post-max {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: brightness(30%);
}

.n-images-container-3 {
  position: absolute;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  cursor: pointer;
}

.n-images-container-5 {
  position: absolute;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.n-images {
  font-size: 60px;
  align-items: center;
  justify-content: center;
}

.interaction-item-post {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 15px 0 10px 10px;
}

.interaction-item-post .right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.interaction-item-post .left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 15px;
}

.icon-post {
  font-size: 30px;
  cursor: pointer;
  color: pink;
}
